<div class="row">
    <div *ngIf="notice">
        <div *ngIf="notice.title">
            {{notice.title}} succesfully created click here to go to the edit page and click on the following link to view it on the client
        </div>
        <!--{{notice |json}}-->
        <div *ngIf="notice.code == 11000">
            this page already exist. please edit the existing page to make changes
        </div>
    </div>
    
    <div *ngIf="saved">
        page has been succesfully updated
    </div>
    create a page
    <form [formGroup]="pageCreateForm" novalidate (ngSubmit)="save(pageCreateForm.value)">
        <div class="form__group">
            <label class="form__group--label">Page name:
                <span class="form__group--tooltip">
                    <span>&#9432;</span>
                    <div class="form__group--tooltiptext">
                        a easy to identify name
                    </div>
                </span>
            </label>
            <input type="text" class="form__group--input-text" formControlName="title">
            <div *ngIf="f.title.touched && f.title.errors" class="admin-wrapper-main__card--form-error">
                <div *ngIf="f.title.errors.required"> A Channel name is required</div>
                <div *ngIf="f.title.errors.minlength"> The channel name has to be atleast 5 characters long</div>
            </div>
            <!-- {{f.title.errors |json}} -->
        </div>
        <!--paths-->
        <div formArrayName="article">
            <div *ngFor="let article of f.article['controls']; let i=index">
                <div>
                    <span>paragraph {{i + 1}}</span>
                    <span *ngIf="f.article.controls.length > 1" (click)="removePath(i)"></span>
                </div>
                <div [formGroupName]="i">
                    <div class="form__group">
                        <label class="form__group--label">text:
                            <!--<span class="admin-wrapper-main__card--form--tooltip">
                                &#9432;
                                <div class="admin-wrapper-main__card--form--tooltiptext">
                                    requires a relative url to a component simply pick a component from the right and
                                    add
                                    its name after the second '/'
                                </div>
                            </span>-->
                        </label>
                        <textarea formControlName="text" class="form__group--input-text-large"></textarea>
                        <!--<div *ngIf="f.article['controls'][i].controls.pathurl.touched && f.path['controls'][i].controls.pathurl.errors"
                            class="admin-wrapper-main__card--form-error">
                            <div *ngIf="f.path['controls'][i].controls.pathurl.errors.required"> A Channel name is
                                required</div>
                            <div *ngIf="f.path['controls'][i].controls.pathurl.errors.minlength"> The channel name has
                                to
                                be atleast 20 characters long</div>
                        </div>
                        <!--{{f.path['controls'][i].controls.pathurl.errors |json}}-->
                    </div>
                    <div class="form__group">
                        <label class="form__group--label">src:
                            <!--<span class="admin-wrapper-main__card--form--tooltip">
                                &#9432;
                                <div class="admin-wrapper-main__card--form--tooltiptext">
                                    describe the component you chose
                                </div>
                            </span>-->
                        </label>
                        <input type="text" class="form__group--input-text" formControlName="src" />
                        <!--<div *ngIf="f.path['controls'][i].controls.description.touched && f.path['controls'][i].controls.description.errors"
                            class="admin-wrapper-main__card--form-error">
                            <div *ngIf="f.path['controls'][i].controls.description.errors.required"> A Channel name is
                                required</div>
                            <div *ngIf="f.path['controls'][i].controls.description.errors.minlength"> The path
                                description
                                has to be atleast 20
                                characters long</div>
                        </div>-->
                    </div>
                    <div class="form__group">
                        <label for="option" class="form__group--label">style:</label>
                        <select class="form-control" class="form__group--input-option" id="option" formControlName="type">
                            <option *ngFor="let option of options" [value]="option.id">{{option.name}}</option>
                        </select>
                        <!--{{f.article['controls'][i].controls.type.errors |json}}-->
                    </div>
                    <br>
                    <a (click)="removeArticle(i)">
                        <input type="button" class="button warning" value="removePath">
                    </a>
                </div>
                <br>
            </div>
        </div>
        <div>
            <a (click)="addPath()">
                <input class="button succes" type="button" value="Add route">
            </a>
        </div>
        <br>
        <div>
            <button class="button succes" type="submit" [disabled]="!pageCreateForm.valid">Create</button>
        </div>
    </form>
    this form will eventually include a method to dynamicly add forms (the forms still need to be supported on the
    backend)
</div>

<!--this does needs to be updated every time the page builder gets updated-->
live Preview:

<div *ngFor="let section of pageCreateForm.value.article" [class]="section.type">
    <p>{{section.text}}</p>
    <img [src]="section.src" alt="" srcset="">
</div>