<div class="wrapper__padding">
    <div>
        <h2>table of contents:</h2>
        <p>[TODO]</p>
    </div>
    <div>
        <h2>header:</h2>
        <app-header></app-header>
        <p>the header information comes out of the db</p>
        <ul>
            <li>it has text.</li>
            <li>it has a img url for the background img.</li>
            <li>it has a field for extra classes ([TODO]predifined ones)</li>
        </ul>
    </div>
    <div>
        <h2>nav:</h2>
        <app-topnav></app-topnav>
        <p>the navigation links are made up of the title's of made pages </p>

    </div>
    <div>
        <h2>typography:</h2>
        <div class="wrapper__row">
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
        </div>
    </div>



    <div>
        <h2>buttons</h2>
        <div>there really are only 2 buttons</div>
        <button>
            the one without a class</button><button type="reset" class="button"> and the button with the class
            button-primary
        </button>
    </div>

    <div>
        <h2>random/misc</h2>
        <div>now you might not use this one alot but it could be usefull: the
            <code>
            'code'tag has also been styled for now it is only typography changes
            </code>
        </div>
    </div>
    <div>
        <h2>forms</h2>
        <div>forms have recieved some styling as well
            <form class="form">
                <div class="form__group">
                    <label for="" class="form__group--label">
                        labels are fat
                    </label>
                    <input type="text" class="form__group--input-text" placeholder="i am a input">
                </div>
                <div class="form__group"><label class="form__group--label">and i am a label</label>
                    <textarea name="area 1" class="form__group--input-text-large" id="" cols="30" rows="10"> this text area is styled as well </textarea>
                </div>
            </form>
        </div>
    </div>


    <div>
        <h2>lists</h2>
        <ul>
            <li>unordered</li>
            <ul>
                <li>unordered</li>
                <ol>
                    <li>ordered</li>
                </ol>
            </ul>
        </ul>
        <ol>
            <li>ordered</li>
            <ol>
                <li>ordered</li>
                <ul>
                    <li>unordered</li>
                </ul>
            </ol>
        </ol>
    </div>
    <div>
        <h2>media queries:</h2>
        currently there is only one
        <pre>@include biggerthen("mobile"){{ '{' }}
                {{ '}' }}
                </pre>
        <p>this makes it so you are forced too make it look good on mobile first then specify different styles for any
            thing bigger then:
            mobile,tablet, laptop, desktop (since there are people that use 4 k screens...)
        </p>
    </div>
</div>