.form {
    background-color: #fff;
}
/* form group style*/
.form__group {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
}
/* form label style*/
.form__group--label {
    font-weight: bold;
}
/* text input style*/
.form__group--input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* text area style*/
.form__group--input-text-large {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
/* selection type input
.form__group--input-option {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Tooltip container */
.form__group--tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.form__group--tooltip .form__group--tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.form__group--tooltip:hover .form__group--tooltiptext {
    visibility: visible;
}
